@font-face {
    font-family: 'HYWaiWaiTiJ';
    src: url('./HYWaiWaiTiJ.woff2') format('woff2'),
        url('./HYWaiWaiTiJ.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

