@font-face {
    font-family: 'JackeyFont';
    src: url('JackeyFont.woff2') format('woff2'),
        url('JackeyFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

